{% extends "dashboard/layout.html" %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            {% for message in flash.success %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {% for message in flash.danger %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% for message in flash.info %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            <form action="" method="POST">
                {% for file, items in langFiles %}
                    <div class="card">
                        {% set filename = file|split('.php')[0] %}
                        <div class="card-header">{{ filename|upper }} tərcümələri</div>
                        <div class="card-body">
                            {% for key, val in items %}
                                {% if key != 'locale' %}
                                    <div class="form-group">
                                        <label for="{{ filename ~ '-' ~ key }}">{{ filename ~ '.' ~ key }}</label>
                                        <input id="{{ filename ~ '-' ~ key }}" type="text" name="{{ filename }}[{{ key }}]" value="{{ val }}" required class="form-control">
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <input type="hidden" name="file[]" value="{{ filename }}">
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100">Yadda saxla</button>
            </form>
        </div>
    </div>
{% endblock %}