{% extends 'dashboard/layout.html' %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tərcümələr</h3>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead>
                            <tr>
                                <th class="w-1">No.</th>
                                <th>Dil</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lang in langs %}    
                                <tr>
                                    <td><span class="text-muted">{{ loop.index }}</span></td>
                                    <td>{{ lang|upper }} Dili</td>
                                    <td>
                                        <a class="icon" href="{{ path_for('dashboard.translate.edit', {lang: lang}) }}">
                                            <i class="fe fe-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}