{% extends "dashboard/layout.html" %}

{% block body %}
    {% if isAuth('admin') %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="card">
                    <div class="card-header">Ana səhifə</div>
                    <div class="card-body">Admin panelə xoş gəlmisiniz. Siz buradan öz saytınızı idarə edə bilərsiniz.</div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="page">
            <div class="page-single">
                <div class="container">
                    <div class="row">
                        <div class="col col-login mx-auto">
                            <form class="card" action="" method="post">
                                <div class="card-body p-6">
                                    <div class="card-title">Admin Panel Giriş</div>
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control" placeholder="İstifadəçi adı">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="pass" class="form-control" placeholder="Şifrə">
                                    </div>
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-primary btn-block">Giriş et</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}