<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="{{ publicPath('dashboard/js/require.min.js') }}"></script>
    <script>
        requirejs.config({
            baseUrl: '{{ base_url() }}'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="{{ publicPath('dashboard/css/dashboard.css') }}" rel="stylesheet" />
    <script src="{{ publicPath('dashboard/js/dashboard.js') }}"></script>
    <!-- c3.js Charts Plugin -->
    <link href="{{ publicPath('dashboard/plugins/charts-c3/plugin.css') }}" rel="stylesheet" />
    <script src="{{ publicPath('dashboard/plugins/charts-c3/plugin.js') }}"></script>
    <!-- Google Maps Plugin -->
    <link href="{{ publicPath('dashboard/plugins/maps-google/plugin.css') }}" rel="stylesheet" />
    <script src="{{ publicPath('dashboard/plugins/maps-google/plugin.js') }}"></script>
    <!-- Input Mask Plugin -->
    <script src="{{ publicPath('dashboard/plugins/input-mask/plugin.js') }}"></script>
    <!-- Trumbowyg -->
    <link rel="stylesheet" href="{{ publicPath('dashboard/js/editor/ui/trumbowyg.min.css') }}">
    <link rel="stylesheet" href="{{ publicPath('dashboard/js/editor/plugins/colors/ui/trumbowyg.colors.min.css') }}">

    <title>{{ getEnv('APP_NAME') }} | Dashboard</title>
</head>

<body>
    <div class="page">
        <div class="page-main">
            {% if isAuth('admin') %}
                {% include "dashboard/_includes/header.html" %}
            {% endif %}

            {% block body %}{% endblock %}
        </div>
        {% if isAuth('admin') %}
            {% include "dashboard/_includes/footer.html" %}
        {% endif %}
    </div>
</body>

</html>