{% extends "dashboard/layout.html" %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            {% for message in flash.success %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {% for message in flash.danger %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% for message in flash.info %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            <div class="card">
                <div class="card-header">Tənzimləmələr</div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <label for="username">İstifadəçi adı</label>
                                <input id="username" type="text" name="username" class="form-control" value="{{ info.username }}">
                            </div>
                            <div class="form-group">
                                <label for="pass">Şifrə</label>
                                <input id="pass" type="password" name="pass" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Yadda saxla</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}