<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="{{ meta.description ? meta.description : __('meta.description') }}">        
    <meta name="keywords" content="{{ meta.keywords ? meta.keywords : __('meta.keywords') }}">
    <meta name="language" content="{{ locale|upper }}">
    <meta name="robots" content="index,follow" />

    <meta name="og:title" content="{{ meta.title ? meta.title : __('meta.site_name') }}" />
    <meta name="og:site_name" content="{{ __('meta.site_name') }}" />
    <meta name="og:type" content="website" />
    <meta name="og:description" content="{{ meta.description ? meta.description : __('meta.description') }}" />
    <meta name="og:url" content="{{ fullUrl }}" />
    {% if meta.images %}    
        {% if meta.images is iterable %}    
            {% for item in meta.images %}
                <meta name="og:image" content="{{ storagePath(item) }}" />
            {% endfor %}
        {% else %}
            <meta name="og:image" content="{{ storagePath(meta.images) }}" />
        {% endif %}
    {% endif %}

    <link rel="stylesheet" href="{{ publicPath('css/app.css') }}">
    {% block styles %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ publicPath('img/favicon.png') }}" />

    <title>{{ meta.title ? meta.title : __('meta.site_name') }}</title>
    <script>
        // site conf
        var baseUrl = '{{ baseUrl }}';

        // languages
        var lang  = '{{ locale }}';
        var langs = {};
    </script>
</head>
<body>
    {# HEADER BLOCK #}
    {% block header %}
        {% include 'site/_includes/header.html' %}
    {% endblock %}

    <section id="content">
        <div class="container">                
            {% block body %}{% endblock %}
        </div>
    </section>

    {# FOOTER BLOCK #}
    {% block footer %}
        {% include 'site/_includes/footer.html' %}
    {% endblock %}

    <!-- SCRIPTS -->
    <script src="{{ publicPath('js/vendors/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ publicPath('js/app.js') }}"></script>
    {% block scripts %}{% endblock %}
    <script>
        $(document).ajaxSend(function(event, xhr, settings) {
            // set csrf token
            xhr.setRequestHeader("X-CSRF-Token", "{{ csrf_token }}");
        });
    </script>
</body>
</html>