<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{{ publicPath('img/favicon.png') }}" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            height: 100%;
            font-size: 15px;
        }
        
        .text-center > div {
            margin-bottom: 10px;
        }

        .text-center > div:last-of-type {
            margin-bottom: 0;
        }

        #error-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100%;
        }

        .text-center {
            text-align: center;
            height: 100%;
        }

        .btn {
            width: 200px;
            margin: auto;
            background-color: #333;
            color: #fff;
            font-size: 13px;
            text-align: center;
            text-decoration: none;
            padding: 10px;
            display: block;
            margin-top: 15px;
        }
    </style>
    <title>{{ title }}</title>
</head>

<body>
    <section id="error-content">
        <div class="text-center">
            <h1>{{ error.code }}</h1>
            <div>
                <strong>Message: </strong>{{ error.message }}
            </div>
            <div>
                <strong>File: </strong>{{ error.file }}
            </div>
            <div>
                <strong>Line: </strong>{{ error.line }}
            </div>
            <div>
                <a href="javascript:window.history.go(-1)" class="btn">{{ __('main.go_back') }}</a>
            </div>
        </div>
    </section>
</body>

</html>